<html>
  <head>
    <title>chat room mqtt</title>
    <h2>chat room mqtt</h2>
  </head>
  <body>
    <div class = "message">
      <ul id = "chat_message"></ul>
    </div>
    <div>
      <form>
        <p>room: <input type="text" id = "room"/>
          <input type = "button" id = "subscribe" value = "in"/>
        </p>
        <p>chat box: <input type="text" id = "content"/>
          <input type = "button" id = "send" value = "send"/>
        </p>
      </form>

      <button id = "leave">leave</button>
    </div>
    <div class = "room">
      <ul id = "chat_room"></ul>
    </div>
  </body>
  <script type = 'text/javascript' src = 'static/jquery-3.2.0.min.js'></script>
  <script type = 'text/javascript' src = 'static/mqttws31.js'></script>
  <script type = 'text/javascript' src = 'static/browserMqtt.js'></script>
  <script type = 'text/javascript' src = 'static/socket.io.js'></script>
  <script type = 'text/javascript'>
  $(function(){
    var client = mqtt.connect('mqtt://test.mosca.io');
    //var client = mqtt.connect('tcp://broker.hivemq.com:1883');
    //var client = mqtt.connect('localhost:1883');
    var room;
    var socket = io();

    $('#subscribe').click(function(){
      room = $('#room').val();
      client.subscribe(room);
      socket.emit('create_room', room);
    })

    $('#send').click(function(){
      client.publish(room, $('#content').val());
      $("#content").val('');
    })

    client.on('message', function(topic, message){
      if (topic === room){
        var data = message.toString();
        $("#chat_message").append("<li>" + data + "</li>");
      }
    })

    $("#leave").click(function(){
      client.unsubscribe(room, function(){
        $("#chat_message").append("<li> leave from "+ room + "</li>");
        $("ul#chat_room li:contains('"+ room + "')").remove();
        $("#room").val('');
      });
    })

    socket.on('room_information', function(data){
      $("#chat_room").append("<li>" + data + "</li>");
    });

  });
  </script>
</html>
